
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');


.about-me-container {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

@media (min-width: 768px) {
    .about-me-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .item {
        flex: 1 1 calc(50% - 20px);
    }
}

.item {
    /* border: 1px solid gray; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.profile-image-container {
    width: min-content(width,height);
    height: min-content(width,height);
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 5%;    
}

.profile-image {
    width: 80%;
    height: 80%;
    border-radius: 70%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)); 
    object-fit: cover; 
}

.name-tag{
    font-weight: bolder;
    color: rgb(106, 99, 99);
    margin: 0;
    font-size: clamp(1.8em,calc(1em + 2.0vw),3.6em);
    font-family: "Exo 2", sans-serif;
    
}
.job-tag{
    color: rgb(149, 148, 148);
    font-size: clamp(1.0em,calc(0.5em + 2.0vw),1.5em);
    font-family: "Exo 2", sans-serif;
    
}

button svg{
    /* color: #0a66c2; */
    color: white;
    font-size: clamp(0.9em,calc(0.3em + 2.0vw),1.3em);
    /* font-size: x-large; */
    margin-right: 5px;    
    align-items: center;
    justify-items: center;
    text-align: center;
      font-family: "Exo 2", sans-serif;
}
.button-container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    position: relative;;
}
.about-button{    
    margin-top: 10px;
    margin-bottom: 5px;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    
    filter: drop-shadow(3px 3px 3px rgba(32, 12, 87, 0.3)); 
    color:white;
    /* font-weight: bolder; */
    border:none;
    font-size: clamp(0.9em,calc(0.3em + 2.0vw),1.3em);
    font-size: 1.4em;
    transition: all 0.2s ease-in-out;
    font-family: "Exo 2", sans-serif;
}
.about-button.linked-in{
    background-color: rgb(97, 202, 221);
}
.about-button.linked-in:hover{
    background-color: rgb(38, 168, 192);   
}
.about-button.resume{
    background-color: rgb(155, 173, 242);
}
.about-button.resume:hover{
    background-color: rgb(108, 134, 236);    
}

.profile-details{    
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}